body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: pink;
    font-style: italic;
}

.container{
    border-radius: 15px;
    background-color: aqua;
    width: 300px;
    padding: 15px;
    box-shadow: 0px 4px 8px;
}

.header{
    text-align: center;
    padding: 10px;
    font-size: 1.7em;
    font-weight: 900;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.addTask{
    display: flex;
    gap: 10px;
    font-style: italic;
}

input{
   padding: 7px; 
   border-radius: 5px;
   width: 60%;
   font-style: italic;
}

button{
    background-color: bisque;
    color: blue;
    padding: 6px;
    border-radius: 5px;
}

button:hover{
    border: 1px solid black;
    box-shadow: 2px 2px 5px;
}

ul{
    list-style: none;
    padding: 15px;
}

li{
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 7px;
}